#tray menu {
    background-color: #333333;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    font-family: "CodeNewRoman Nerd Font", "Source Han Sans CN";
    font-size: 20px;
    min-height: 0;
    color: white;
}

#tray,
#wireplumber,
#backlight,
#battery,
#clock,
#custom-power {
    padding: 0 10px;
}

window#waybar {
    background-color: #333333;
}

#clock {
    background-color: #171717;
}

#battery {
    background-color: darkgreen;
}

#battery.charging,
#battery.plugged {
    background-color: #26A65B;
}

label:focus {
    background-color: black;
}


#backlight {
    background-color: #90b1b1;
}

#wireplumber {
    background-color: #171717;
    color: #ffffff;
}

#wireplumber.muted {
    background-color: #171717;
    color: #ff0000;
}


#custom-power {
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 20px;

}

#custom-launcher {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 20px;

}

#taskbar {
    padding: 0;
    margin: 0;
}

#taskbar > * {
    margin: 0 10px;
}

#tray {
    background-color: #64727D;
    color: blue;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    background-color: #171717;
    color: blue;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #171717;
    color: blue;
}

